Nombre Grupo: {{ Nombre_Grupo }}
División: {{ Division }}
Fecha: {{ ansible_facts.date_time.date }}
—-------------------------
Distribución: {{ ansible_facts.distribution }}
Cantidad de Cores: {{ ansible_facts.processor_cores }}
—-------------------------
R1: Nombre: Sebastian Apellido: Sartorato
 

